@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Cliente/Scripts/atFilmes.js"></script>
    <script src="~/Cliente/Scripts/ListController.js"></script>
    <script src="~/Cliente/Scripts/DetailsController.js"></script>
    <script src="~/Cliente/Scripts/filmeService.js"></script>
    <script src="~/Cliente/Scripts/EditController.js"></script>
}
<div data-ng-app="atFilmes">
    <ng-view></ng-view>
</div>
